
.semestre{
    background: rgba(221, 205, 204,0.8);
    margin-top:3%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    padding: 7px;
    color: ;
    box-shadow: 2px 2px 5px 0px;
    cursor: pointer;
    transform:scale(1,1);
    opacity: 0.5;
    transition: opacity 1s, transform 1s;
    
}
.contenedor{
 width: 100%;
 height: 100%; 
 
}
@media (min-width:1024px){
    .contenedor{
        width: 1000px;
        height: auto;
        margin: auto;
    } 
}
.semestre:hover{
    background: hsla(0, 98%, 34%, 0.9);
    transform:scale(1.1,1);
    opacity: 1;
}