header img{
   width: 100%;
   height: auto;
   overflow: hidden;
}
body{
    background: rgb(238, 238, 238);
}
header h1{
    position: absolute;
}
button{
    background: red;
}
#informacion{
    margin-top: 3%;
}